<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>index</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="../portfolio_ratio_ext.css">
</head>
<body class="body page-index clearfix">
  <section class="work clearfix">
    <div class="wrapper clearfix">
      <h3 class="section--title">Title</h3>
      <div class="works--shots clearfix">
        <ul class="shots--ul">
          <li class="shots--li">
            <a href="#" class="shot--li__link clearfix">
              <img class="image" src="images/500.jpg">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <script src="js/jquery-min.js"></script>
  <script src="js/index.js"></script>
</body>
</html>