body {
  background-color: rgb(255, 255, 255);
  font: 400 16px/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.card__list--title {
  float: left;
  width: 33%;
  margin-top: 20px;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.list--ul {
  float: left;
  clear: both;
  width: 33%;
  height: 50px;
  margin-top: 10px;
  overflow: hidden;
}