<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>basic slider</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.3.0/flexslider-min.css">
  <style>
    .slider,.flexslider{height:auto;margin-bottom:0px;}
  </style>
</head>
<body class="body page-basic clearfix">
  <div class="slider slider-3"><div class="flexslider">
  <ul class="slides">
    <li>
      <img src="https://unsplash.it/400/400?image=50" />
    </li>
    <li>
      <img src="https://unsplash.it/400/400?image=60" />
    </li>
    <li>
      <img src="https://unsplash.it/400/400?image=70" />
    </li>
    <li>
      <img src="https://unsplash.it/400/400?image=80" />
    </li>
  </ul>
</div></div>
  <a href="index.html" class="link-back">back</a>

  <script src="js/jquery-min.js"></script>
  <script src="js/basic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.3.0/jquery.flexslider-min.js"></script>
  <!-- <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script> -->
</body>
</html>