<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>advanced slider</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.3.0/flexslider-min.css">
  <style>
    .slider,.flexslider{height:auto;margin-bottom:0px;}
  </style>
</head>
<body class="body page-index clearfix">
  <div class="index-nav clearfix">
    <a href="basic.html" class="link">basic slider</a>
    <a href="advanced.html" class="link link-2">advanced slider<em> (responsive)</em></a>
    <a href="carousel.html" class="link link-3">with carrousel</a>
  </div>

  <script src="js/jquery-min.js"></script>
  <script src="js/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.3.0/jquery.flexslider-min.js"></script>
  <!-- <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script> -->
</body>
</html>